* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.range-slider {
  height: 4px;
}
.range-slider .range-slider__thumb {
  background-color: #fff;
  width: 14px;
  height: 14px;
  border: 1px solid #555555;
}
.range-slider .range-slider__range {
  background-color: #333;
}
